MONGO_URI=mongodb+srv://"USUARIO_DB":"CONTRASEÑA"@cluster0.l6x6f.mongodb.net/"BASE_DE_DATOS"?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=secretito

GOOGLE_API_KEY=apikey

SOCKET_PORT=5002
PORT=5000